body{
    background: url('../img/library.jpeg') no-repeat;
}

body #overlay
{
    background-color: #fff;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}